$fontStack:Questrial,Arial,sans-serif;
$baseColor: #bd2436;
.clear {
    clear: both;
}
body {
  font-family: $fontStack;
  h1, h2 {
  font-family: $fontStack;
  text-transform: uppercase;
  }
  p, li, a, span, h3, h4, h5 {
  font-family: $fontStack;
	}
}


.flexslider{
  margin: 0;
}

.products .product {
  span.vendor {
    display: none;
	}
  .details{
    line-height: 12px;
  }
  h4.title {
    font-size: 14px;
    margin-bottom: 0;
  }
  span.price {
    font-size: 12px;
    font-weight: bold;
  }
  .image img {
    border: 0 none;
  }
}
#about-leaders-hp,
#newsletter-hp,
#featured-products-hp{
  position: relative;
  margin-top: 15px;
}
#newsletter-hp h3 {
    font-size: 31px;
    font-weight: 700;
    font-style: italic;
  	margin-bottom: 6px;
    line-height:32px;
  	span {
      color: $baseColor;
    }
}
.intro p {
    font-size: 16px;
    line-height: 1.2;
}

footer {

  .copyright{
    margin:0;
    font-size: 10px;
    text-align:center;
  }

  font-family: Arial;
  h4 {
    font-size: 12px;
    margin: 0;
	}
 
  a {
    font-size: 10px;
  }
  .footer-blog p {
    line-height: 0.7;
    margin-bottom: 2px;
  }
  .social-links{
    width: 500px;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .social-footer {
    .social-links a {
      margin: 0 5px 0 0;
      padding: 0;
      line-height: 24px;
      font-size: 24px;
  	}
  }

  .footer-menu{
    text-align: center;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    width: 500px;
  }
  .footer-menu ul li{
    float: left;
    padding:0 22px;
    text-align: center;

  }
  .contact-footer{
    padding:10px 0;
    text-align: center;
    overflow: hidden;
    display: block;
    border-top: 1px solid #4b4b4b;
    border-bottom: 1px solid #4b4b4b;
  }
}
.intro-display {font-family: 'AllerDisplay', sans-serif;}
.intro-display h3 {font-size:28px; font-family: 'AllerDisplay', sans-serif;}

.contact-form input[type="text"], .contact-form input[type="email"], .contact-form input[type="telephone"] {width:100%;}


.product .image{
  img{
    height: 200px;
  }
}

#collection h1{
 float: none;
 margin-bottom: 0;
}

.span12 {
  /* width: 990px; */
  margin: 0 0 0 15px;
}
.span12 h1,
#featured-collection-title h2{
  border-bottom: 3px solid #000;
  font-size: 2em;
  line-height: 25px;
}

#nav .wide nav{
  border-top: none; 
  border-bottom: 1px solid #dddddd;  
}

nav>ul>li>a{
  line-height: 20px !important;
  height: auto !important;
}

.logo {
  padding: 10px 0;
  float: none;
}
.logo a, .logo img{
  margin: 0 auto;
}
#product h3.collection-title{
  padding-bottom: 0;
}

#product h1.title{
  font-size: 30px;
  line-height: 24px;
  font-weight: normal;
}

.breadcrumb{
  margin: 0;
}

.row{
  margin-bottom: 15px;
}